.mover {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  justify-content: center;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.movimg {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
button {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  font-size: 15px;
}
.tam {
  height: 70vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.etapa {
  display: flex;
  justify-content: space-between;
}
.verm {
  display: flex;
  flex-direction: column-reverse;
}
.parte1 {
  width: 60vw;
  display: flex;
  justify-content: center;
}
.parte2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 45vw;
  height: 8vw;
  border-radius: 30px;
  border: 1px solid;
  color: black;
  text-decoration: none;
}
.parte3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.parte4 {
  background-color: white;
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  border-radius: 30px;
}
.parte5 {
  background-color: white;
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  border-radius: 30px;
}
.parte6 {
  width: 97vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parte7 {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
  height: 15vw;
  border-radius: 30px;
}
body {
  background-image: url(../Imagens/TELA\ INICIAL\ MENU.svg);
}
.colorusu {
  color: #2a8098;
}
