* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: flex;
  width: 400px;
  height: 250px;
}

.img {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #e4e4e4;
}
.botao {
  width: 100vw;
  height: 83vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a {
  height: 13vw;
  width: 70vw;
  border-radius: 100px;
  font-size: 20px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  background: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.divComplementar {
  width: 100%;
  height: 100px;
  background-color: #e4e4e4;
  border-radius: 51% 49% 49% 51% / 0% 0% 100% 100%;
}
.divComplementar2 {
  opacity: 0.7;
  width: 100%;
  height: 240px;
  background: #ffffff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(228, 228, 228, 1) 56%
  );
}

body {
  background-image: url("/Imagens/tela1/fundo.png");
}
