.input input {
  width: 200px;
  height: 40px;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-radius: 20px;
}
.input {
  display: flex;
  gap: 30px;
}

.input input {
  padding-left: 10px;
  opacity: 80%;
}

.logo {
  width: 100vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: start;
}
.titulo1 {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}
.mover {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.botao1 {
  margin-top: 50px;
  width: 300px;
  height: 40px;
  border-radius: 30px;
  background-color: black;
  color: aliceblue;
  font-size: 30px;
}
.icone {
  width: 40px;
  display: flex;
  justify-content: center;
}
h2 {
  color: rgb(158, 158, 158);
}
button {
  width: 400px;
  height: 50px;
  font-size: 25px;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.computer {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.pc {
  width: 350px;
}

a {
  text-decoration: none;
}
