* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parte0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150vw;
  justify-content: space-evenly;
}
.parte1 {
  width: 70vw;
  height: 30vw;
  border: 1px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  justify-content: space-evenly;
}

.parte2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.parte3 {
  width: 70vw;
  height: 50vw;
  border: 1px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  padding: 0 10px;
}

.parte4 {
  width: 96vw;
  display: flex;
  justify-content: end;
}

.parte5 {
  transform: translateY(65%);
}

.fonte {
  font-weight: 1000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.fonte2 {
  opacity: 50%;
}

.parte6 {
  color: red;
  text-decoration: none;
}
